<div class="container-lg" id="viewlet-above-content">

  <div class="alert alert-primary" role="alert">
    Pixit - Cadastro de usuário
  </div>

  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Usuário
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{{url}}/usuario/novo-usuario">Novo</a></li>
      <li><a class="dropdown-item" href="{{url}}/usuario/list">Listar</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a (click)="logout()" href="{{url}}/login" class="dropdown-item">Sair</a></li>
    </ul>
  </div>

</div>